body {
    background : #141414;
    overflow : hidden;
}
.hidden { display : none; }

/* css is not my thing */

#editor {
    position : absolute;

    top : 10%;
    bottom : 30%;
    right : 2%;
    left : 2%;

    margin : 0;

    font-size : 1.5em;
}

#beginPane, #endPane {
    position : absolute;

    top : 5%;
    left : 10%;
    right : 10%;

    font-size : 2em;
    color : #99c;
}

#timer {
    color : red;
    font-size : 3em;
    text-align : center; /* YOU GOT A PROBLEM? */
}
.win #timer {
    color : green;
}

#run-button {
    position : absolute;

    top : 70%;
    bottom : 2%;
    left : 2%;
    right : 70%;

    padding : 0;
    margin : 0;

    font-size : 2em;
}

#log-wrapper {
    position : absolute;

    top : 70%;
    bottom : 2%;
    left : 30.5%;
    right : 2%;

    margin : 0;

    font-size : 1.2em;
    background : #ffffcc;

    overflow-y : scroll;
}
#log-wrapper .log-line {
    padding : 4px;
}

/* first two colours stolen from QUnit */
#log-wrapper .log-line.log-pass {
    background : #5e740b;
}
#log-wrapper .log-line.log-fail {
    background : #710909;
    color : white;
}
#log-wrapper .log-line.log-error {
    background : #b06000;
}
#log-wrapper .log-line.log-log /* log log */ {
    background : #8699a4;
    /* log log, log log */
}
/* log log log? */
/* how much log could a log log log if a log log could log log? */
