body {
    background : #141414;
    overflow : hidden;
}
.hidden { display : none; }

/* css is not my thing */

#editor {
    position : absolute;

    top : 15%;
    bottom : 30%;
    right : 2%;
    left : 2%;

    margin : 0;

    font-size : 1.5em;
}

#beginPane, #endPane {
    position : absolute;

    top : 5%;
    left : 10%;
    right : 10%;

    font-size : 2em;
    color : #a6a6a6;
}

#timer {
    color : red;
    font-size : 3em;
    text-align : center; /* YOU GOT A PROBLEM? */
}
.win #timer {
    color : green;
}

#run-button {
    position : absolute;

    top : 75%;
    bottom : 2%;
    left : 2%;
    right : 70%;

    padding : 0;
    margin : 0;

    font-size : 2em;
}

#log-wrapper {
    position : absolute;

    top : 75%;
    bottom : 2%;
    left : 30.5%;
    right : 2%;

    margin : 0;
    padding : 10px;

    font-size : 1.2em;
    background : #ffffcc;

    overflow-y : scroll;
}
#log-wrapper .log-line {
    padding : 4px;
}
#log-wrapper .log-line.log-pass {
    background : green;
}
#log-wrapper .log-line.log-fail {
    background : red;
}
#log-wrapper .log-line.log-error {
    background : orange;
}
